:root {
  /* backgorund */
  --back: #fff;
  --app_back: #f9fcfd;
  --second_back: #eb9d74e3;
  --action: #ffcd5076;
  --unicode_thing: #000032;
  --shadow: #ebebeb;

  /* font style */
  --font_color: #000;
  --font_big: 2.4rem;
  --font_medium_big: 2.1rem;
  --font_medium: 1.9rem;
  --font_small_meduim: 1.5rem;
  --font_small: 1rem;

  /* margin */
  --general_top_app: 100px;
  --general_bottom_app: 60px;
  --general_space: 20px;
  --bigZindex: 999999999;

  /* forms */
  --space-root: 1rem;
  --space-xs: calc(var(--space-root) / 2);
  --space-s: calc(var(--space-root) / 1.5);
  --space-m: var(--space-root);
  --space-l: calc(var(--space-root) * 1.5);
  --space-xl: calc(var(--space-root) * 2);
  --base-border-radius: 0.25rem;
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --duration: 350ms;
  --font-size: 1.25rem;

  /* consts */
  --generalShadow: 0 1rem 3rem var(--shadow);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--font_color);
  box-sizing: border-box;
}

body {
  font-size: var(--font_big);
  background: var(--app_back);
  overflow-y: auto;
  overflow-x: hidden;
}

/* alertas */

.alertaPersonalizada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--back);
  padding: var(--general_space);
  border-radius: 8px;
  min-width: 200px;
  z-index: 1000000000000000000000000000;
  box-shadow: var(--generalShadow);
}

.alertaPersonalizada_span {
  margin-right: 20px;
  word-wrap: break-word;
  max-width: 80%;
  font-size: var(--font_small_meduim);
}

.pageDivApp {
  margin-top: var(--general_top_app);
  margin-bottom: var(--general_bottom_app);
}

/* generales */

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--general_space);
}

.flexRowAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--general_space);
}

.flexRowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--general_space);
}

.flexAllGap {
  gap: var(--general_space);
}

.flexNormalWrap {
  flex-wrap: wrap;
}

.info_text {
  margin: var(--general_space);
  box-sizing: border-box;
  text-align: justify;
  font-size: var(--font_small);
}

.min480 {
  min-width: 480px;
}

.min300 {
  min-width: 300px;
}

/* to show Info */

.infoGeneral_tilte {
  font-size: var(--font_big);
  text-align: center;
  margin: var(--general_space) 0;
  box-sizing: border-box;
  word-break: break-word
}

.infoGeneral_subtitle {
  font-size: var(--font_medium);
  text-align: center;
}

.infoGeneral_details {
  font-size: var(--font_small_meduim);
  margin: var(--general_space);
  box-sizing: border-box;
  text-align: center;
  list-style: none;
}

.general_btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: var(--space-m) var(--space-l);
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: var(--base-border-radius);
  font-size: calc(var(--font-size) / 1.65);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.065rem;
  background-color: var(--second_back);
  border-color: var(--second_back);
}

.general_btn:focus,
.general_btn:hover {
  background-color: var(--unicode_thing);
  border-color: var(--unicode_thing);
  color: var(--back);
}