:root {
  /* backgorund */
  --back: #fff;
  --app_back: #f9fcfd;
  --second_back: #eb9d74e3;
  --action: #ffcd5076;
  /* --action: #F00; */
  --unicode_thing: #000032;
  --shadow: #ebebeb;

  /* font style */
  --font_color: #000;
  --font_big: 48px;
  --font_medium_big: 32px;
  --font_medium: 26px;
  --font_small_meduim: 20px;
  --font_small: 16px;

  /* margin */
  --general_top_app: 100px;
  --general_bottom_app: 60px;
  --general_space: 20px;
  --bigZindex: 999999999;

  /* forms */
  --space-root: 1rem;
  --space-xs: calc(var(--space-root) / 2);
  --space-s: calc(var(--space-root) / 1.5);
  --space-m: var(--space-root);
  --space-l: calc(var(--space-root) * 1.5);
  --space-xl: calc(var(--space-root) * 2);
  --base-border-radius: 0.25rem;
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --duration: 350ms;
  --font-size: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--font_color);
  box-sizing: border-box;
}

body {
  font-size: var(--font_big);
  background: var(--app_back);
  overflow-y: auto;
  overflow-x: hidden;
}

.alertaPersonalizada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--back);
  padding: var(--general_space);
  border-radius: 8px;
  min-width: 200px;
  z-index: 1000000000000000000000000000;
  box-shadow: 0 1rem 3rem var(--shadow);
}

.alertaPersonalizada_span {
  margin-right: 20px;
  word-wrap: break-word;
  max-width: 80%;
  font-size: var(--font_small_meduim);
}

.pageDivApp {
  margin-top: var(--general_top_app);
  margin-bottom: var(--general_bottom_app);
}

/* generales */

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--general_space);
}

.flexRowAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--general_space);
}

.flexRowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--general_space);
}

.info_text {
  margin: var(--general_space);
  box-sizing: border-box;
  text-align: justify;
  font-size: var(--font_small);
}

.min480 {
  min-width: 480px;
}

.min300 {
  min-width: 300px;
}