.listItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(var(--general_space) / 3);
    list-style: none;
}

.listItems_item {
    display: inline;
    font-size: var(--font_medium);
    text-align: center;
    padding: 10px 0;
    background: var(--action);
    min-width: 300px;
    cursor: pointer;
    border-radius: 4px;
}