.orderCard_container {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(auto-fill, 200px);
    gap: var(--general_space);
    justify-content: center;
    align-items: center;
    margin-top: var(--general_space);
}

.orderCard_card {
    position: relative;
    width: 250px;
    height: 200px;
    background: var(--back);
    box-shadow: var(--generalShadow);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--general_space);
    padding: var(--general_space);
    box-sizing: border-box;
}

.orderCard_card label {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--second_back);
    color: var(--font_color);
    border-top-left-radius: 8px;
    padding: 4px;
    margin: 0;
}

.orderCard_card span {
    position: absolute;
    background: var(--second_back);
    right: -16px;
    top: -16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.orderCard_card input {
    outline: none;
    border: none;
    overflow-x: scroll;
    text-align: center;
    width: 100%;
}

.orderCard_card_bigInput {
    font-size: var(--font_medium_big);
    font-weight: bold;
}

.orderCard_card_mediumInput {
    font-size: var(--font_small);
    font-weight: bold;
}

.orderCard_input_without {
    color: var(--unicode_thing);
    border-bottom: 1px solid var(--unicode_thing) !important;
    padding-bottom: 4px;
}

@media (max-width: 700px) {
    .orderCard_container {
        grid-template-columns: 250px;
    }
}