.sideBoardFloat_closer {
    position: relative;
    z-index: 1;
}

.sideBoardFloat {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closerSpan {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--action);
    justify-content: end;
    align-items: flex-end;
    padding: var(--general_space);
    box-sizing: border-box;
    position: relative;
    left: -40px;
    top: -40px;
}

.closerSpan:nth-child(2) {
    display: none;
}

@keyframes openSideBoard {
    from {
        bottom: calc(100vh - 100px);
    }
    to {
        bottom: 0;
    }
}

@keyframes closeSideBoard {
    from {
        bottom: 0;
    }
    to {
        bottom: calc(100vh - 100px);
    }
}

.sideBoardFloat_container {
    background: var(--back);
    flex-grow: 1;
    z-index: 1000;
    padding-top: var(--general_space);
    box-sizing: border-box;
}

.sideBoardFloat_container > * {
    text-align: center;
}

.sideBoardFloat_container > div {
    font-size: var(--font_medium_big);
}

.sideBoardFloat_container > ul li {
    text-decoration: underline;
    font-size: var(--font_medium_big);
    margin-top: var(--general_space);
}