.sideBoardFloat_closer {
    position: relative;
}

.sideBoardFloat {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: var(--initialBoardSide);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: var(--bigZindex);
}

.closerSpan {
    display: flex;
    width: 60px;
    height: 60px;
    border-bottom-right-radius: 30px;
    background: var(--action);
    justify-content: center;
    align-items: center;
    padding: var(--general_space);
    box-sizing: border-box;
    position: relative;
}

.closerSpan:nth-child(2) {
    display: none;
}

@keyframes openSideBoard {
    from {
        bottom: var(--initialBoardSide);
    }

    to {
        bottom: var(--finalBoardSide);
    }
}

@keyframes closeSideBoard {
    from {
        bottom: var(--finalBoardSide);
    }

    to {
        bottom: var(--initialBoardSide);
    }
}

.sideBoardFloat_container {
    background: var(--app_back);
    flex-grow: 1;
    z-index: var(--bigZindex);
    padding-top: 12svh;
    box-sizing: border-box;
}

.sideBoardFloat_container h4 {
    margin-top: var(--general_space);
}

.sideBoardFloat_container>* {
    text-align: center;
}

.sideBoardFloat_container>div {
    font-size: var(--font_small);
}

.sideBoardFloat_container>ul {
    margin-top: calc(var(--font_medium_big) * 2);
}

.account_events {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--general_space) / 3);
    align-items: center;
    list-style: none;
}

.account_events li {
    font-size: var(--font_small_meduim);
}