.sideBoardFloat_closer {
    position: relative;
}

.sideBoardFloat {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: var(--bigZindex);
}

.closerSpan {
    display: flex;
    width: 60px;
    height: 60px;
    border-bottom-right-radius: 30px;
    background: var(--action);
    justify-content: center;
    align-items: center;
    padding: var(--general_space);
    box-sizing: border-box;
    position: relative;
}

.closerSpan:nth-child(2) {
    display: none;
}

@keyframes openSideBoard {
    from {
        bottom: calc(100vh - 60px);
    }

    to {
        bottom: 0;
    }
}

@keyframes closeSideBoard {
    from {
        bottom: 0;
    }

    to {
        bottom: calc(100vh - 60px);
    }
}

.sideBoardFloat_container,
.sideBoardFloat_container_only {
    background: var(--app_back);
    flex-grow: 1;
    z-index: var(--bigZindex);
    padding-top: var(--general_space);
    box-sizing: border-box;
}

.sideBoardFloat_container h4 {
    margin-top: var(--general_space);
}

.sideBoardFloat_container>* {
    text-align: center;
}

.sideBoardFloat_container>div {
    font-size: var(--font_small);
}

.sideBoardFloat_container>ul {
    margin-top: calc(var(--font_medium_big) * 2);
}

.account_events {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--general_space) / 3);
    align-items: center;
    list-style: none;
}

.account_events li {
    background: var(--back);
    font-size: var(--font_small_meduim);
    padding: var(--general_space);
    cursor: pointer;
}

.account_events li:hover {
    transform: scale(1.1);
}